@import "custom";

.header {
  background-color: $nord4;
  margin: 2px;
}
.boundaries {
  stroke-width: 0.1px;
  stroke: #3b4252;
}

.legend-title {
  font-size: 0.8rem;
}

.legendCells {
  font-size: 0.6rem;
  text-align: center;
}

.legend-byline {
  font-size: 0.7rem;
}
