@import "custom";

.header {
  background-color: $nord4;
  margin: 2px;
}
.boundaries {
  stroke-width: 0.1px;
  stroke: #3b4252;
}

.legend-title {
  font-size: 0.8rem;
}

.legendCells {
  font-size: 0.6rem;
  text-align: center;
}

.legend-byline {
  font-size: 0.7rem;
}

.legend {
  font-size: 0.6rem;
}

.tooltip {
  font-size: 0.6rem;
  color: $nord3;
  padding: 3px;
  background-color: white;
  border: 1px solid $nord3;
  border-radius: 3px;

  p {
    margin: 0px;
  }
}

.card-columns {
  column-count: 5;
}

.card-footer {
  padding-top: 4px;
  padding-bottom: 7px;
  p {
    text-align: center;
    color: $nordBlue;
    margin: 0px;
  }
}

.carousel-item {
  // max-height: 300px;
  width: 100%;
}

.logo-fill {
  width: 80px;  
  display: block;
}

.badge {
  a {
    text-decoration: none;
  }
}

.card-list-group {
  font-size: 0.7rem;
}

.badge-primary {
  a {
    text-decoration: none;
    color: white;
    font-weight: normal;
  }
}

.info-item {
  margin: 0px;
  padding: 0px;
  font-size: 0.7rem;
  line-height: 0.9rem;
}
